global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    metrics_path: /metrics
    static_configs:
    - targets: ["localhost:9090"]

  - job_name: telegraf
    metrics_path: /metrics
    static_configs:
    - targets: 
      {% for item in telegraf_host %}
      - {{ item }}
      {% endfor %}

  - job_name: program
    metrics_path: /
    static_configs:
    - targets: 
      {% for item in program_host %}
      - {{ item }}
      {% endfor %}

rule_files:
  - rules/prometheus_alerts_rules.yml
  - rules/first_rule.yml

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - {{ alertmanagers_endpoint }}